---
---
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&family=Ultra&display=swap');

.header-level-1 {
    font-family: "Ultra", serif !important;
    color: rgb(187, 86, 13) !important; 
    font-size: 2.5em; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
    border-bottom: 2px solid #8B4513; 
}


body {
    font-family: "Ultra", serif !important;
    background-color: #F4A460 !important; 
    color: #4B3621; 
}

p {
    font-family: "Ultra", serif;
}

code {
    font-family: "Courier New", monospace; 
    background-color: #956e52; 
    color: #8B4513;
    padding: 2px 4px;
    border-radius: 4px;
}

#main_content {
    margin: 20px;
    padding: 20px;
    border: 2px solid #8B4513;
    background-color: #FFFAF0; 
    border-radius: 8px;
}
